.ingredient {
  list-style: decimal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
}

.box {
  width: 85%;
  margin:auto;
}

.heading {
  padding: 2rem 0 3rem;
  font-size: 2.5rem;
  color: #23B846;
  text-align: center;
}

@media (max-width:700px) {
  .ingredient{
    grid-template-columns: 1fr;
    text-align: center;
  }
}
